/* body centré, largeur maximale de 880px
police sans-serif de 20px;
interligne : 1.5
*/
body {
    max-width: 55rem;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  /* titre principal centré de 96px, inter-ligne 1  */
  h1 {
    text-align: center;
    font-size: 6rem;
    line-height: 1;
  }
  
  /* section choice sur blanc le fond #303030, avec une marge interne de 24px */
  .choice {
    background: #303030;
    color: white;
    padding: 1.5rem;
  }
  
  /* Paragraphe "Pliante ou non, ..." - police de 24px et espacement entre les lettres de 2px */
  
  h1+p {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  
  /* img centrée, avec une bordure de 2px couleur tomato et une ombre 4px 4px 0 tomato, marge interne de 10px */
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto 1.5rem;
    border: 2px solid tomato;
    box-shadow: 4px 4px 0 tomato;
    padding: 10px;
  }
  
  /* section details :
  marge interne de 24px
  bordure et ombre comme image;
  marges top de 24px
  marge bottom de 24px
  */
  .details {
    padding: 1.5rem;
    border: 2px solid tomato;
    box-shadow: 4px 4px 0 tomato;
    margin: 1.5rem 0;
  }
  /* élément ancre avec une marge interne de 16px, blanc sur fond tomato, pas souligné */
  .button {
    padding: 1rem;
    background: tomato;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  
  /* fond #303030 en survol */
  .button:hover {
    background: #303030;
  }